.green {
    background-color: rgb(119, 246, 119);
    width: 20%;
    height: 50px;
    font-size: 30px;
    padding-left: 10px;
}

.orang {
    background-color: rgb(226, 184, 94);
    width: 20%;
    height: 50px;
    font-size: 30px;
    padding-left: 10px;
}

.red {
    background-color: rgb(247, 107, 107);
    width: 20%;
    height: 50px;
    font-size: 30px;
    padding-left: 10px;
}

.odd {
    background-color: rgb(204, 204, 204);
}

.even {
    background-color: rgb(220, 255, 255);
}

.button {
    background-color: rgb(234, 200, 200);
    width: 100px;
    height: 40px;
    
}